# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Miguel
	email = m.i@gmx.at
[merge]
    tool = vimdiff
    conflictstyle = diff3


[mergetool]
  prompt = true

[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c '$wincmd w' -c '$wincmd w' -c '$wincmd J'

[difftool]
    prompt = false

[diff]
    tool = vimdiff
    

